/*Prevent Problems on Different Browsers*/
* {box-sizing: border-box;}



body {
    font-family: "Bodoni Moda", serif;
    margin: 0;
}

/* header stuff here */
header {
    background-color: #F2EDD5;
    padding: 1rem 10px;
}

header span {
    color: #37538C;
    font-size: 1.6rem;
    font-weight: 800;
}

/* small screen navigation */
@media only screen and (max-width: 800px) {
nav ul{
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    text-align: center;
    padding: .8rem;
    color: #34736C;
    text-decoration: none;
    border-bottom: solid 1px #37538C;
    font-weight: 700;
    text-transform: uppercase;
}
nav .active a {
    background-color: #79BED9;
    color: #37538C;
    background-image: linear-gradient(to bottom, white, #79BED9);
    
}


} /*end small screen*/


/* LARGE SCREEN NAVIGATION */
@media only screen and (min-width: 801px) {
nav {
    background-color: #79BED9;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #37538C;
    font-weight: 600;
}

nav li.active a {
    background-color: #4177A6;
    color: white;
}

nav li a:hover {
    color: white;
}

    
} /*end large screen*/




/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #4177A6;
}

main h2 {
    color: #79BED9;
    margin: .2rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: .5rem 30px;
    background-color: #F2EDD5;
}

main dl dt {
    color: #4177A6;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #707070;
    font-size: .9rem;
    margin-left: 20px;
}

main h3 {
    color: #4177A6;
    margin-bottom: .5rem;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    margin-top: .5rem;
}

main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #79BED9;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #37538C;
    width: 300px;
}

main a {
    color: #37538C;
}

main a:hover {
    color: #707070;
}

.hero {
  width: 100%;  
  height: auto;
}

/* main image stuff here */
figure.wrapped {
    margin: 0 0 0 10px;
    width: 35%;
    float: right;
}
figure.wrapped img {
    width: 65%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;

}

/* gallery stuff here*/
div.gallery {
display: flex;
flex-wrap: wrap;
gap: 20px 10px;
}
div.gallery figure {
    margin: 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #37538C;
}

.gallery img {
    border-radius: 5px;
}
.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
} 

.myForm fieldset {
    border: 1px solid #4177A6;
    border-radius: 3px;
    margin-bottom: 1rem; 
}
.myForm legend {
    color: #4177A6;
    font-size: .8rem;
}
.myForm label {
    margin: .5rem;
}
.myForm label, .myForm select, .myForm [type=text], .myForm [type=email], .myForm [type=tel], .myForm textarea {
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm select, .myForm textarea {
    border: solid 1px #333;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Bodoni Moda", serif;
}
.myForm textarea {
    height: 6rem;
    background-color: #79BED9;
}

.myForm :required {
    background-color: #79BED9;
}

.myForm [type=submit] {
    background-color: #37538C;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #f2f2f2;
    margin: 1rem 0 0 1vw;
}

/* table stuff here */
table.sizing {
    width: 100%;
    border-collapse: collapse;
}
table.sizing th {
    background-color: #37538C;
    color: white;
    padding: .6rem 2%;
    text-align: left;
}
table.sizing td {
    color: #4177A6;
    padding: .4rem 2%;
}
table.sizing tr:nth-child(odd) {
    background-color: #f2f2f2;
}
table.sizing tr:hover {
    background-color: #ddd;
} 



/* footer stuff here */
footer {
    background-color: #F2EDD5;
    text-align: center;
    padding: 1rem 0;
    font-size: .85rem;
    color: #333;

}

footer p {
    margin: 0;
    letter-spacing: 3px;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}